html,
body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, sans-serif;
}

#root {
  height: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button {
  margin-top: 20px;
}
